.main-admin{
    padding: 0 6% 2% 6%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    
}

.admin-field{
    background-color: white;
    padding: 5% 2%;
    border-radius: 30px;
    width: 100%;

}

.buttons-admin{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn-admin{

    color: white;
    font-size: clamp(15px,5vw, 25px);
    padding: 7px 20px;

}

.btn-one{
    background-color: #078A48;
}

.btn-one:hover{
    background-color: #014940;
    color: white;
}
.btn-two{
    background-color: #0a81c4;
}

.btn-two:hover{
    background-color: #064b74;
    color: white;
}
.btn-three{
    background-color: #29056b;
}

.btn-three:hover{
    background-color: #12032e;
    color: white;
}

.span-admin{
    color: #0a81c4;
    cursor: pointer;

}

.span-admin:hover{
    text-decoration: underline;
}

